<div>
  <button type='submit' id='addFriends' name='addFriendsButton'>Back</button>
  <div class='view' id='diningHallList'>
    {% for diningHall in diningHalls %}
      <div data-diningname='{{ diningHall.name }}' class='clickableDiningHalls'>{{ diningHall.name }}
        <span>{{ diningHall.votes }}</span>
      </div>
    {% endfor %}

  </div>

  <div class='view' id='dateAndTime'>
    <div >
      <p>Date: <input type="text" id="datepicker"></p>
      <p>Time: <input id="basicExample" type="text" class="time"></p>
    </div>
    <div id="nextAndBack">
      <span>
      <button  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id='back' name='backButton'>Back</button>
      <button  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id='nextFromDateAndTime' name='nextFromDateAndTime'>Next</button></span>
    </div>
  </div>

  <div class='view' id='friendsList'>
    {% for friend in friendsList %}
      <div >
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for='{{ friend.name }}'>
            <input  type="checkbox" data-friendname='{{ friend.name }}' id='{{ friend.name }}' class="mdl-checkbox__input">
            <span class="mdl-checkbox__label">{{ friend.name }}</span>
        </label><br><br>


      </div>
    {% endfor %}
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type='submit' id='sendToFriends' name='sendButton'>SEND</button>
  </div>

</div>
