<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Come Along!</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
 <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

  <script type="text/javascript" src="stylesheets/jquery.timepicker.js"></script>
  <link rel="stylesheet" type="text/css" href="stylesheets/jquery.timepicker.css" />

  <script type="text/javascript" src="scripts/buttonScripts.js"></script>
</head>
<body>
  <header id="mainheader">
    <h1>Come Along<h1>
  </header>
